<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Booking Care"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingCare263"
        tools:targetApi="31">
        <activity
            android:name=".ui.bacsiui.ThongtinBenhnhan"
            android:exported="false" />
        <activity
            android:name=".ui.uicsyt.SuaChuyenkhoakham"
            android:exported="false" />
        <activity
            android:name=".ui.uicsyt.ThongtinCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.LienHe"
            android:exported="false" />
        <activity
            android:name=".ui.uicsyt.Addckcsyt"
            android:exported="false" />
        <activity
            android:name=".ui.DSchuyenkhoaCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.bacsiui.QuanlyBaivieet"
            android:exported="false" />
        <activity
            android:name=".ui.bacsiui.ThongtinBacsi"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.DieuKhoan"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.Hosoyte"
            android:exported="false" />
        <activity
            android:name=".ui.bacsiui.Taobaiviet"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaChuyenKhoa"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.ThemChuyenkhoa"
            android:exported="false" />
        <activity
            android:name=".ChitietCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.AddCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaBS"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:theme="@style/Theme.BookingCare263.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.uiuser.KhamTongQuaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.listchuyenkhoa"
            android:exported="false" />
        <activity
            android:name=".lichhenDetail"
            android:exported="false"
            android:theme="@style/Theme.BookingCare263" />
        <activity
            android:name=".ui.uiuser.ThongtinUser"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.Datlichkham"
            android:exported="false" />
        <activity
            android:name=".Bacsi_details"
            android:exported="false"
            android:theme="@style/Theme.BookingCare263" />
        <activity
            android:name=".ui.uiuser.Danhsachbacsi"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.adDanhsachBs"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActitvity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>