<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="Booking Care"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingCare263"
        tools:targetApi="31">
        <activity
            android:name=".ui.BacsiMainActivity"
            android:exported="false" />
        <activity
            android:name=".Hosoyte"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaChuyenKhoa"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.ThemChuyenkhoa"
            android:exported="false" />
        <activity
            android:name=".ChitietCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.AddCSYT"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.SuaBS"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.AddBacSi"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".ui.uiuser.UserActivity"
            android:exported="true"
            android:theme="@style/Theme.BookingCare263.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.uiuser.KhamTongQuaActivity"
            android:exported="false" />
        <activity
            android:name=".listchuyenkhoa"
            android:exported="false" />
        <activity
            android:name=".lichhenDetail"
            android:exported="false"
            android:theme="@style/Theme.BookingCare263" />
        <activity
            android:name=".ThongtinUser"
            android:exported="false" />
        <activity
            android:name=".ui.uiuser.Datlichkham"
            android:exported="false" />
        <activity
            android:name=".Bacsi_details"
            android:exported="false"
            android:theme="@style/Theme.BookingCare263" />
        <activity
            android:name=".ui.uiuser.Danhsachbacsi"
            android:exported="false" />
        <activity
            android:name=".ui.adminui.adDanhsachBs"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActitvity"
            android:exported="false" />
    </application>

</manifest>